<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page not Found</title>
</head>
<body>
    {{>header}}
    <div class="error_404">
        <h1>{{errorMsg}}Error</h1>
    </div>
    {{>footer}}
</body>
</html>