<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    {{>header}}
    <p>This site was Created by Abhilash. It used Node and Express as Backend.</p>
    <img src="./imgs/robot.jpg" alt="Robot Image">
    {{>footer}}
</body>
</html>