<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/imgs/cloud.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    {{>header}}
    <div class="search_form">
        <form>
            <input type="text" class="input">
            <button type="submit" class="submit_btn">Search</button>
        </form>
    </div>
    <div class="message">
        <p id="message_1"></p>
        <hr id="line">
        <p id="message_2"></p>
    </div>
    {{>footer}}
    <script src="js/script.js"></script>
</body>
</html>